<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </div>

<%= f.fields_for :answers do |answers_form| %>
  <div>
    <%= answers_form.label 'Testo:' %>
    <%= answers_form.text_field :text %>
    <%= answers_form.label 'Corretta?' %>
    <%= answers_form.check_box :correct %>
  </div>
 <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
